<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- This is used by the StateManager's replicator. -->
  <Section Name="ReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="ReplicatorEndpoint" />
  </Section>
  <!-- This is used for securing StateManager's replication traffic. -->
  <Section Name="ReplicatorSecurityConfig" />

  <!-- Add your custom configuration sections and parameters here. -->
  <Section Name="SBConfig">
    <Parameter Name="SasToken" Value="Your SAS Token for Service Bus" />
    <Parameter Name="Topic" Value="svc4" />
    <Parameter Name="Subscription" Value="express" />
  </Section>

  <Section Name="EHConfig">
    <Parameter Name="HubPath" Value="svc4"/>
    <Parameter Name="SendToPath" Value="localhost"/>
    <Parameter Name="ConsumerGroup" Value="$Default"/>
    <Parameter Name="ConnString" Value="Your SAS Token Or Conn String for EventHub"/>
    <Parameter Name="StorageAccount" Value="Your Storage Account (Blob) Conn String"/>
  </Section>

</Settings>
